<html>
<body>
  <% @comedians.each do |comic| %>
    <p> Name: <%= comic.name %></p>
    <p> Age: <%= comic.age %></p>
    <p> Specials count: <%= comic.specials_count %> </p>
    <% comic.specials.each do |special| %>
      <ul>
        <li><%= special.name %></li>
      </ul>
    <% end %>
  <% end %>
  <p>Average age: <%= @average_age %></p>
</body>
</html>
